[submodule "external/perfetto"]
	path = external/perfetto
	url = https://android.googlesource.com/platform/external/perfetto
[submodule "external/Vulkan-Headers"]
	path = external/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
